* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
    max-width: 100%;

}

.main {
    background-image: url("bg.jpg");
    width: 100%;
    max-width: 1920px;
    background-size: 100%;
    margin: auto;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 1920px) {
    .main {
        background-size: cover;
    }
}

.main .content {
    width: 100%;
    height: 100%;
    position: relative;
}


.content nav {
    display: flex;
    align-items: center;
    height: 94px;
    width: 80%;
    justify-content: space-between;
    margin: auto;
}

.content nav span img {
    position: relative;
    width: 147px;
    z-index: 10;
}

.content nav div span img {
    width: 15px;
    height: 15px;
}

.content nav div {
    display: flex;
    gap: 10px;
    padding-right: 20px;
}

.content nav div button .arrow {
    font-size: 8px;
    padding-top: 5px;
}

.content nav div button {
    position: relative;
    z-index: 10;
    display: flex;
    gap: 10px;
}

.main .box {
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0.6;
}

.hero {
    color: white;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: center;
    text-align: center;
    display: flex;
    position: relative;
    height: calc(100% - 94px);
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-button {
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
}


.hero-button input {
    background-color: rgba(12, 10, 10, 0.7);
    padding: 20px 160px 20px 12px;
    border-radius: 4px;
    font-size: 17px;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.245);
}

.hero span:nth-child(1) {
    width: 600px;
    font-size: 60px;
    font-weight: 700;
}

.hero span:nth-child(2) {
    font-weight: 500;
    font-size: 20px;
}

.hero span:nth-child(3) {
    margin-top: 15px;
    font-weight: 500;
}

.btn {
    background-color: rgba(23, 23, 23, 0.8);
    color: white;
    border: 1px solid rgb(88, 88, 88);
    font-weight: 550;
    font-size: 15px;
    padding: 6px 15px;
    border-radius: 4px;
}

.btn-red-sm {
    background-color: red;
    padding: 6px 12px;
    border: 1px solid red;
}

.btn-red {
    background-color: red;
    font-size: 20px;
    padding: 15px 30px;
    border: 1px solid red;
}

.line {
    background-color: gray;
    height: 5px;
    width: 100%;
    margin: auto;
    opacity: .5;
}

.main2 {
    min-height: 100vh;
    width: 100%;
    max-width: 1920px;
    justify-content: space-around;
    gap: 60px;
    color: white;
    display: flex;
    margin: 20px auto 50px auto;
    flex-direction: column;
    padding: 20px 0px;
    align-items: center;
}

.top {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.top nav {
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: auto;
    padding: 0px 30px;
}

.top nav::-webkit-scrollbar {
    display: none;
}

.top nav ul {
    display: flex;
    scrollbar-width: none;
    width: 100%;
    gap: 50px;
}

.top nav ul li {
    border-radius: 10px;
    min-width: 210px;
    height: 317px;
    list-style: none;
}

.number {
    line-height: 1;
    display: flex;
    align-items: end;
    height: 4em;
    position: relative;
    font-weight: 700;
    font-size: 70px;
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px rgb(255, 255, 255);
}

.num1 {
    background-image: url(top1.webp);
    background-size: cover;
    background-repeat: no-repeat;

}

.num2 {
    background-image: url(top2.webp);
    background-size: cover;
    background-repeat: no-repeat;

}

.num3 {
    background-image: url(top3.webp);
    background-size: cover;
    background-repeat: no-repeat;

}

.num4 {
    background-image: url(top4.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.num5 {
    background-image: url(top5.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.reason {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}

.reason nav {
    width: 100%;
    min-height: 39vh;
}

.reason nav ul {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 15px;
}

.reason nav ul li {
    list-style: none;
    overflow: hidden;
    border-radius: 15px;
    padding: 13px;
    width: 100%;
    min-height: 39vh;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
}

.reason nav ul li .description {
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
}

.reason nav ul li .icon {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: flex-end;
    align-items: flex-end;
}

.reason nav ul li p {
    color: rgb(159, 159, 159);
    font-weight: 600;
}

.reason nav ul li section img {
    width: 72px;
    height: 72px;
}

.faq {
    margin: auto;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq nav {
    width: 100%;
    height: auto;
}

.faq nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.faq nav ul li {
    list-style: none;
    display: flex;
    width: 100%;
    height: 85px;
}

.faq nav ul li button {
    width: 100%;
    border: none;
    background-color: rgb(45, 45, 45);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.faq nav ul li img {
    width: 40px;
    width: 40px;
}

.faq nav ul li button span {
    color: rgb(223, 222, 222);
    font-size: 25px;
    font-weight: 500;
}

.faq>div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 50px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.faq>div span {
    margin-top: 15px;
    font-weight: 500;
}

.faq>div input {
    background-color: rgba(12, 10, 10, 0.7);
    padding: 15px 375px 15px 12px;
    border-radius: 4px;
    font-size: 17px;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.245);
}

footer {
    width: 100%;
    max-width: 1920px;
    white-space: normal;
    margin: auto;
    min-height: 70vh;
    color: rgb(170, 170, 170);
    font-size: 15px;
    font-weight: 500;
}

footer>div {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 57vh;
    gap: 40px;
    margin: auto;
}

footer>div a {
    color: rgb(170, 170, 170);
}

.links {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.links div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.final {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

.final button {
    display: flex;
    background-color: rgba(23, 23, 23, 0.3);
    color: white;
    border: 1px solid rgb(88, 88, 88);
    font-weight: 550;
    width: 120px;
    margin-top: 36px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 3px 15px;
    font-size: 15px;
    border-radius: 4px;
}

.final button {
    display: flex;
    gap: 10px;
    padding-bottom: 5px;
}

.final button span img {
    width: 15px;
    height: 15px;
}

.final button span:last-child {
    font-size: 8px;
    padding-top: 5px;
}

.final>span {
    margin-top: 36px;
}

@media screen and (max-width: 1280px) {
    .hero span:nth-child(1) {
        width: 508px;
        font-size: 40px;
        height: 100px;
    }

    .hero span:nth-child(3) {
        font-size: 14px;
        width: 370px;
    }

    .top nav ul li {
        min-width: 140px;
        height: 196px;
    }

    .number {
        font-size: 44px;
    }

    .reason nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
}



@media screen and (max-width: 968px) {
    h1 {
        font-size: 16px;
    }

    .content nav {
        width: 93%;
        margin: auto;
    }

    .hero {
        width: 93%;
        margin: auto;
    }

    .hero>div input {
        padding: 20px 0px 20px 12px;
        width: 243px;
    }

    .hero>div button {
        height: 58px;
        width: 183px;
        padding: 0;
    }

    .hero span:nth-child(1) {
        width: 508px;
        font-size: 35px;
        height: 100px;
    }

    .hero span:nth-child(3) {
        font-size: 14px;
    }

    .top {
        width: 93%;
        margin: auto;
    }

    .top nav ul {
        gap: 20px;
    }

    .top nav ul li {
        min-width: 112px;
        height: 156px;
    }

    .number {
        font-size: 34px;
    }

    .reason {
        width: 93%;
        margin: auto;
    }

    .reason nav ul {
        display: grid;
        grid-template-columns: 100%;
        gap: 10px;
    }

    .reason nav ul li {
        min-height: 174px;
    }

    .reason nav ul li h2 {
        font-size: 20px;
    }

    .faq {
        width: 93%;
        margin: auto;
    }

    .faq nav ul li button span {
        color: rgb(223, 222, 222);
        font-size: 18px;
        font-weight: 500;
    }

    .faq h1 {
        font-size: 18px;
    }

    .faq nav ul li {
        height: 70px;
    }

    .faq>div {
        width: 100%;
    }

    .faq>div div {
        width: 100%;
        display: grid;
        grid-template-columns: 4fr 1fr;
        gap: 5px;
        grid-template-rows: 1fr;
        max-height: 55px;
        margin: auto;
    }

    .faq>div input {
        width: 100%;
        height: 55px;
        padding: 0;
    }

    #btn {
        height: 55px;
        width: 170px;
        padding: 0;
    }

    footer>div {
        width: 93%;
        margin: auto;
    }

    footer>div>.links {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .final>span {
        padding-bottom: 130px;
    }
}

@media screen and (max-width: 600px) {

    body {
        width: 100%;
        min-width: 320px;
    }

    .hero span:nth-child(1) {
        width: 388px;
        font-size: 35px;
        height: 100px;
    }

    .hero span:nth-child(3) {
        font-size: 14px;
    }

    .main .main2 footer {
        max-width: 100%;
        padding: 10px;
    }

    footer>div>.links {
        display: grid;
        grid-template-columns: 1fr;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 480px){

    .hero-button{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .final>span {
        padding-bottom: 180px;
    }
}